<h1> All members of <%= @affiliation.name %> </h1>

<p>Fire Nation has <%= @affiliation.members.count %> members</p>

<% @affiliation.top_25_members.each do |member| %>
  <p>name: <%= member.name %></p>
  <p>photo: <%= member.photo %></p>
  <p>list of allies: <%= member.allies %></p>
  <p>enemies: <%= member.enemies %></p>
  <p>affiliations: <%= member.affiliations %></p>
  <hr>
<% end %>

